:root {
    --clr-neutral: rgb(255, 255, 255);
    --clr-primary: rgb(26, 146, 213);
    --clr-accent: rgb(240, 180, 41);
    --clr-secondary: rgb(226, 232, 240);

    --ff-base: 'Roboto', sans-serif;

    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700;

    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.45rem;
    --fs-600: 1.75rem;
    --fs-700: 3.25rem;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    font-family: var(--ff-base);
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 200px 1fr;

}

.side-bar {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);
    grid-column: 1/2;
    grid-row: 1/3;
}

.header {
    background-color: var(--clr-neutral);
    grid-column: 2/3;
    grid-row: 1/2;
}

.main {
    background-color: var(--clr-secondary);
    grid-column: 2/3;
    grid-row: 2/3;
}

.logo {
    display: flex;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
}
.logo .logo-text{
    font-size: var(--fs-600);
    align-self: center;
}

.logo .logo-img {
    font-size: var(--fs-700);
}

.nav-bar{
    margin-top: 2rem;
}

.nav-bar a{
    color: var(--clr-neutral);
    font-size: var(--fs-500);
    font-weight: 500;
    text-decoration: none;
}
.nav-bar li {
    padding: 0.5rem;
}
.nav-bar li span {
    padding: 1.5rem;
    font-size: var(--fs-600);
}

.nav-bar li:hover {
    border-left: .3rem solid var(--clr-accent);
}

.nav-bar:last-child{
    margin-top: 5rem;
}